.login {
    width: 40%;
    margin: auto;
}

.photo {
    float: left;
    margin: 10px 10px 10px 0px;
    border: 1px solid #CCC;
    padding: 6px;
    width: 250px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.tab_header {
    text-align: center;
    font-weight: bold;
}

.tab_row {
    text-align: center;
    vertical-align: middle;
}

a {
    color: black;
    text-decoration: none;
}
